{{type}}
<!--<div *ngIf="type=='superAdmin';then SuperAdmin else Demo"></div>-->
<div *ngIf="type=='superAdmin';">
	<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
		<ul class="list-group">
			<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
			</a>
			<a [routerLink]="['/school-registration']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'School Registration' | translate }}
			</a>
			<a [routerLink]="['/view-school']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-table"></i>&nbsp;{{ 'View Schools' | translate }}
			</a>
		</ul>
	</nav>
</div>
<div *ngIf="type=='admin';">
	<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
		<ul class="list-group">
			<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
			</a>
			<a [routerLink]="['/student-registration']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Student Registration' | translate }}
			</a>
			<a [routerLink]="['/employee-registration']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Employe Registration' | translate }}
			</a>
			<a [routerLink]="['/employees-detail']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-file-o"></i>&nbsp;{{ 'Employees Detail' | translate }}
			</a>
			<a [routerLink]="['/students-detail']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-file-o"></i>&nbsp;{{ 'Students Detail' | translate }}
			</a>
		</ul>
	</nav>
	<!--</ng-template>-->
</div>
<div *ngIf="type=='employee';">
	<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
		<ul class="list-group">
			<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
			</a>
			<a [routerLink]="['/employee-attendence']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Employee Attendence' | translate }}
			</a>
			<a [routerLink]="['/employee-salary']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Employee Salary' | translate }}
			</a>
			<a [routerLink]="['/emp-receipt-voucher']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-file-o"></i>&nbsp;{{ 'Receipt Voucher' | translate }}
			</a>
			<a [routerLink]="['/employee-query']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-file-o"></i>&nbsp;{{ 'Employee Query' | translate }}
			</a>
		</ul>
	</nav>
</div>
<div *ngIf="type=='student';">
	<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
		<ul class="list-group">
			<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
			</a>
			<a [routerLink]="['/student-attendence']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Student Attendence' | translate }}
			</a>
			<a [routerLink]="['/student-fee']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Student Fee' | translate }}
			</a>
			<a [routerLink]="['/student-receipt-voucher']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-file-o"></i>&nbsp;{{ 'Student Voucher' | translate }}
			</a>
			<a [routerLink]="['/student-query']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i class="fa fa-file-o"></i>&nbsp;{{ 'Student Query' | translate }}
			</a>
		</ul>
	</nav>
</div>